:root {
    --main-color: rgb(26, 188, 156);
    --second-color: rgb(44, 62, 80);
    --text-color: rgb(255, 255, 255);
}
.home{
    background-color: var(--main-color);
}

.icon::before, .icon::after{
    content: '';
    width: 5rem;
    height: 3px;
    background-color: var(--text-color);
}

.icon::before{
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}

.icon::after{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}