:root {
    --main-color: rgb(26, 188, 156);
    --second-color: rgb(44, 62, 80);
    --text-color: rgb(255, 255, 255);
}

.active{
    background-color: var(--main-color);
    border-radius: 10px;
}
.navbar{
    background-color: var(--second-color);
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus{
    color: var(--text-color);
    font-size: 32px;
    font-weight: 700;
}

.navbar-collapse .navbar-nav .nav-item .nav-link{
    color: var(--text-color) !important;
    font-weight: 700;
}


@media screen and (min-width: 990px) {
    #navbarNav{
        max-width: fit-content !important;
    }
}
@media screen and (max-width: 425px) {
    .navbar-brand, .navbar-brand:hover, .navbar-brand:focus{
        color: var(--text-color);
        font-size: 25px;
        font-weight: 700;
    }
}