:root {
    --main-color: rgb(26, 188, 156);
    --second-color: rgb(44, 62, 80);
    --text-color: rgb(255, 255, 255);
    --bg-model: rgb(194, 218, 255);
}
.portfolio h1{
    font-weight: 700;
    color: var(--second-color) !important;
}
.portfolio .icon{
    font-weight: 700;
    color: var(--second-color) !important;
}

.portfolio .icon::before, .portfolio .icon::after{
    content: '';
    width: 5rem;
    height: 3px;
    background-color: var(--second-color);
}

.portfolio .icon::before{
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}

.portfolio .icon::after{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.bg-black{
    opacity: 0;
    transition: all ease-in-out .3s;
    font-size: 155px;
    font-weight: 900;
    background-color: var(--main-color) !important;
}

.portfolio .content:hover .bg-black{
    cursor: pointer;
    opacity: 85%;
}

.modal-content {
    background-color: var(--bg-model) !important;
    border: none;
}
.modal-body {
    padding: 0;
}